<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">Back</ion-back-button>
    </ion-buttons>
    <ion-title>{{ list.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-list>
    <ion-item color="dark">
      <ion-label position="floating">Add Task</ion-label>
      <ion-input type="text" [(ngModel)]="taskName" (keyup.enter)="addTask()"></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header color="dark">
      <ion-label >Task</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of list.tasks" class="animated fadeInDown">
      <ion-item-options side="end">
        <ion-item-option (click)="removeTask(item)" color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    <ion-item color="dark">
      <ion-checkbox
        slot="start"
        [(ngModel)]="item.completed"
        (ionChange)="setTaskCompleted(item)"
      ></ion-checkbox>
      <ion-label>{{ item.description }}</ion-label>
    </ion-item>
  </ion-item-sliding>
  </ion-list>
</ion-content>
